@page
@model BizGazeMeeting.Pages.noaccess.noaccessModel
@{
}

@section StyleSheets{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/metronic/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/noaccess.css" rel="stylesheet" type="text/css" />
}


<div class="container d-flex align-items-center justify-content-center h-100">

    <div class="text-center">
        <h2 class="fs-3x fw-bolder mb-10">You don't have access to join this meeting!</h2>
        <p class="text-gray-400 fs-4 fw-bold mb-10">
            Be sure to input correct information.
        </p>
        <a href="/" class="btn btn-primary">
            Return to Home Screen
        </a>
    </div>

</div>


@section Scripts{
    <script src="~/lib/metronic/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/metronic/js/scripts.bundle.js"></script>
}
