@page
@model IndexModel
@{
    ViewData["Title"] = "Bizgaze Meeting List(POC)";
}


@section StyleSheets{
    <link rel="stylesheet" href="~/lib/jquery-datatable/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/meeting_list.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/meeting_list1.css" type="text/css" />
}

<div class="container">
    <div class="header">
        <h1>
            <font color="#444">BizGaze</font> <font color="#0e6a73">Meeting</font>
        </h1>
    </div>

    <div class="meetingCreate">
        <input type="text" id="meetingTitleTxt" class="input input--m" placeholder="meeting title" />
        <button id="createMeetingBtn" class="btn btn--primary btn--m">Create</button>
    </div>

    <div>
        <table id="meetingTable" class="display" style="width:100%;">
            <thead>
                <tr>
                    <th>Meeting ID</th>
                    <th>Title</th>
                    <th>Control Allowed</th>
                    <th>Recording Required</th>
                    <th>Multiple Sharing Allowed</th>
                    <th>Screen Share Required</th>
                    <th>Opened</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <form action="/meeting" method="get" id="gotoMeeting">
        <input type="hidden" value="0" id="meetingId" name="meetingId" />
        <input type="hidden" value="0" id="userId" name="userId" />
    </form>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/adapter-latest.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/scripts/meeting_list.js"></script>
}
